<table class="table table-bordered">
    <thead>
    <tr>
        <th>Student</th>
        <th>Group</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr id="student-row-{{ student.id }}">
            <td>{{ student.fullName }}</td>
            <td class="student-group">
                {{ student.projectGroup ? student.projectGroup.name : '-' }}
            </td>
            <td>
                <button
                        class="btn btn-danger btn-sm delete-student"
                        data-student-id="{{ student.id }}"
                >
                    Delete
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

