<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteProjectModal">
    Delete
</button>

{% include 'project/partial/_delete_modal.html.twig' with { 'project' : project } %}